#sadrzaj {
    margin:2%;


    float:left;
    width: 96%;
    text-align: center;


}



/* tablica pretplatnici*/
table.tablica1
{
 border-bottom:  3px solid  blue;
     border-left:  3px solid  blue;
     border-right:  3px solid  blue;
     
     width: 50%;
         
    
         
}
caption.tablica1
{
    color: mediumblue;
    background-color: #7CAD72;
    padding: 5px;
  border: 3px solid  blue;
  border-bottom: 3px  double blue;
  
}

tr.tablica1_zaglavlje{
    color:  darkgreen;
    border-bottom:    3px solid  blue;
    font-weight: bold;
    
}
tr.tablica1_redak1
{background-color: lightskyblue;
    color: darkgreen;
    
}
tr.tablica1_redak1:hover
{
    color: black;
    background-color: #FFFE66;
}
tr.tablica1_redak2
{
    background-color:#ffcccc;
    color: darkgreen;
     
}
tr.tablica1_redak2:hover
{
    color: black;
    background-color: #FFFE66;
}

tr.tablica1_redak1,  tr.tablica1_redak2 
{
    text-align: center;
}
tr{
    
    border: 1px solid  blue;
}
th,td {
 
    border: 2px solid darkgreen;
}


/* dodavanje nove diskusije*/

    .greska_usklicnik{
      
       visibility: hidden;
        
        height:15pt;
    }
    
.opis_area{
    
      position: relative;
   left:18%;
   margin-top: 10px;
    margin-bottom: 10px;
    width:73%;
     border: 3px solid #73AD21;
}


.formaNovaDiskusija{
       position: relative;
    left:0px;
    width:95%;
    margin:2%;
    background-color: #C6CCB6;
    border: 5px;
     border: 3px solid #73AD21;
    
    
    
}

.gumbRef{
    
     
    font-size: 40px;
   
   position: relative;
   left:25%;
   margin-top: 10px;
    margin-bottom: 10px;
    width:50%;
    height:40px;
     border: 5px solid #73AD21;
     font-weight: bold;
     letter-spacing: 3px;
     
     color:green;
     border-color:red;
     height:100px;
     
    
}
label{
      color: black;
   font-size: 20px;
    font-family: "times"; /*obitelj*/
    float:left;
    width:50%; 
    margin-left: 10px;
    margin-top: 10px;
    
}

.popisPodrucja{
    background-color: #F5FFDC;

    /*
        border-style:solid;
        border-width: 5px;
        border-color: #C4CCB0;
        border-radius: 12px;
    
        margin:0%;*/



    width: 100%;
}
.karticaDiskusije{
    
    background-color: #C6CCB6;


    border-style:solid;
    border-width: 5px;
    border-color: #4E5247;
    border-radius: 12px;

    margin:0.5%;
    float: left;


    width: 90%;
    list-style-type: upper-roman;
    
    
}

.forma{
    position:relative;
    left:0px;
    width:50%;
    margin-left: 25%;
    margin-bottom: 2%;
    
       background-color: #EFFFC7;
    
       
  border-style:solid;
    border-width: 5px;
    border-color: #4E5247;
    border-radius: 12px;
   
    
    
}

input,select{
    border: 3px solid #4E5247;
    height:20px;
   width:40%;
   margin-top: 10px;


}

.gumb{
    
     color: black;
    font-size: 20px;
   
   position: relative;
   left:25%;
   margin-top: 10px;
    margin-bottom: 10px;
    width:50%;
    height:40px;
       border-style:solid;
    border-width: 3px;
    border-color: #C4CCB0;
    border-radius: 2px;
    
    
}

.gumb:hover{
    
     color: black;
    font-size: 20px;
   
   position: relative;
   left:25%;
   margin-top: 10px;
    margin-bottom: 10px;
    width:50%;
    height:40px;
       border-style:solid;
    border-width: 3px;
    border-color: #C4CCB0;
    border-radius: 2px;
    background-color: #6C7F3E;
    
    
}

#btnZatvori{
           width: 60%;
        font-weight: bold;
    height: 50px;
    border-style:solid;
    border-width: 3px;
    border-color: #4E5247;
    border-radius: 15px;
   
       
    background-color: #EFFFC7;
}
#btnZatvori:hover{
           width: 60%;
        font-weight: bold;
    height: 50px;
    border-style:solid;
    border-width: 3px;
    border-color: #4E5247;
    border-radius: 15px;
   background-color: red;
     
   
}

#btnUspjeh{
           width: 60%;
        font-weight: bold;
    height: 50px;
    border-style:solid;
    border-width: 3px;
    border-color: #4E5247;
    border-radius: 15px;
   
       
    background-color: #EFFFC7;
}
#btnUspjeh:hover{
           width: 60%;
        font-weight: bold;
    height: 50px;
    border-style:solid;
    border-width: 3px;
    border-color: #4E5247;
    border-radius: 15px;
   background-color:green;
     
   
}
.btnDiskusije{
        width: 60%;
        font-weight: bold;
    height: 50px;
    border-style:solid;
    border-width: 3px;
    border-color: #4E5247;
    border-radius: 2px;
    border-top-left-radius: 35px;
       border-top-right-radius: 35px;
       background-color: #6C7F3E;
}



.btnDiskusije:hover{
        width: 60%;
        font-weight: bold;
    height: 50px;
    border-style:solid;
    border-width: 3px;
    border-color: #4E5247;
    border-radius: 2px;
    border-top-left-radius: 35px;
       border-top-right-radius: 35px;
       background-color: #EFFFC7;
}


.btnDiskusijePrijavljeni{
        width: 60%;
       
        
        font-weight: bold;
    height: 50px;
    border-style:solid;
    border-width: 3px;
    border-color: #4E5247;
    border-radius: 10px;
    
       
       background-color: #6C7F3E;
}



.btnDiskusijePrijavljeni:hover{
        width: 50%;
        font-weight: bold;
    height: 50px;
    border-style:solid;
    border-width: 3px;
    border-color: #4E5247;
    border-radius: 2px;
    border-top-left-radius: 35px;
       border-top-right-radius: 35px;
       background-color: #EFFFC7;
}

.noviKomentar{
    
    width: 60%;
    margin-left: 20%;
    background-color: white;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     text-align: left;
     padding: 15px;
     margin-top: 7.5px;
    
}
.komentar{
    
    width: 60%;
    margin-left: 20%;
    background-color: white;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     text-align: left;
     padding: 15px;
     margin-top: 7.5px;
    
}

.temaDiskusije{
    
    width: 93.5%;
    margin-left: 2.5%;
    background-color: white;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     text-align: left;
     padding: 15px;
     margin-top: 7.5px;
    
}
.slikaKomntar {
    float:left;
    margin-right:10px;
  
}

.vrijemekomentara{
    float: right;
    margin-right: 15px;
    opacity:0.5;
}

hr{ 
    display: block;
    margin-top:15px;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
} 
#prijava{
    
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding-top: 20px;
}
.header{
    font-family:arial;
    padding-top: 15px;
    padding-bottom: 0px;
    position: relative;
    width: 101.3%;
    clear: both;
    background: black;
    margin-left: -0.8%;
    margin-top: -0.5%
    
    
}

.tijelo{
   padding-top: 40px;
}

.tijeloAdmin{
    
    padding-top: 100px;
}


.navigacija{
    position:fixed;
    width: 100%;
    margin-left: -0.5%;
    margin-top: -0.9%;
    text-align: center;
    background-color: #F5FFDC;
    
    
}

.navigacijaModerator > ul{
      
    border-width: 10px;
    border-color: white;
    list-style: none;
    color: yellow;
}

.navigacijaModerator > ul > li{
    border-left-style:solid;  
     
    border-width: 1px;
    border-color: white;
    width: 10%;
    height: 20px;
    min-width: 200px;
   float: left;
  
   background-color: black;
    padding-top: 9px;
    padding-bottom: 0px;
    
}
.navigacijaModerator > ul > li:hover{
    border-left-style:solid;  

    border-width: 1px;
    border-color: white;
    width: 10%;
      height: 20px;
    min-width: 200px;
   float: left;

   padding-top: 9px;
   
    
}
.navigacijaModerator > ul > li > a{
    
    padding-top: 10px;

   color: white;
   text-decoration: none;
    
}
.navigacijaModerator > ul > li > a:hover{
    
    padding-top: 10px;

   color:#00ffff;
   text-decoration: none;
    
}

.navigacijaModerator{
   
    
   
    width: 100%;
    margin-left: -0.5%;
    margin-top: -0.9%;
    text-align: center;
    background-color: black;
   
   
}






.btnPrijava{
    width: 200px;
    height: 50px;
    border-style:solid;
    border-width: 1px;
    border-color: #C4CCB0;
    border-radius: 2px;
    border-top-left-radius: 35px;
  
}
.btnPrijava:hover{
    width: 200px;
    height: 50px;
    border-style:solid;
    border-width: 1px;
    border-color: #C4CCB0;
    border-radius: 2px;
    border-top-left-radius: 35px;
    background-color: #EFFFC7;
  
}

.btnDiskusijaNova{
    background-color: #47C445;
    font-size: 20px;
    font-weight: bold;
    width: 90%;
    margin: 10px;
    height: 50px;
    border-width: 3px;
    border-color: green;
    border-style: solid;
    border-radius: 5px;
    
}
.btnDiskusijaNova:hover{
    background-color: #5CFF5A;
    font-size: 20px;
    font-weight: bold;
    width: 90%;
    margin: 10px;
    height: 50px;
    border-width: 3px;
    border-color: green;
    border-style: solid;
    border-radius: 5px;
    
}



.btnNavL{
    width: 200px;
    height: 50px;
    border-style:solid;
    border-width: 1px;
    border-color: #C4CCB0;
    border-radius: 2px;
    border-bottom-left-radius: 35px;
   
  
}
.btnNavL:hover{
    width: 200px;
    height: 50px;
    border-style:solid;
    border-width: 1px;
    border-color: #C4CCB0;
    border-radius: 2px;
    border-bottom-left-radius: 35px;
    background-color: #EFFFC7;
  
}

.btnNav{
    width: 200px;
    height: 50px;
    border-style:solid;
    border-width: 1px;
    border-color: #C4CCB0;
    border-radius: 2px;
     margin-left: 0px;
  
}
.btnNav:hover{
    width: 200px;
    height: 50px;
    border-style:solid;
    border-width: 1px;
    border-color: #C4CCB0;
    border-radius: 2px;
    
    background-color: #EFFFC7;
  
}


.btn{
    width: 200px;
    height: 50px;
    border-style:solid;
    border-width: 1px;
    border-color: #C4CCB0;
    border-radius: 2px;
     margin-left: 0px;
  
}
.btn:hover{
    width: 200px;
    height: 50px;
    border-style:solid;
    border-width: 1px;
    border-color: #C4CCB0;
    border-radius: 2px;
    
    background-color: #EFFFC7;
  
}

.btnNavD{
    width: 200px;
    height: 50px;
    border-style:solid;
    border-width: 1px;
    border-color: #C4CCB0;
    border-radius: 2px;
    border-bottom-right-radius: 35px;
  
}
.btnNavD:hover{
    width: 200px;
    height: 50px;
    border-style:solid;
    border-width: 1px;
    border-color: #C4CCB0;
    border-radius: 2px;
    border-bottom-right-radius: 35px;
    background-color: #EFFFC7;
  
}

.btnReg:hover{
    width: 200px;
    height: 50px;
    border-style:solid;
    border-width: 1px;
    border-color: #C4CCB0;
    border-radius: 2px;
    border-top-right-radius: 35px;
    background-color: #EFFFC7;
    
    
    
}
.btnReg{
    width: 200px;
    height: 50px;
    border-style:solid;
    border-width: 1px;
    border-color: #C4CCB0;
    border-radius: 2px;
    border-top-right-radius: 35px;
    
    
    
}
.container{
    
    width: 99%;
    background-color: #EFFFC7;
    
       
  border-style:solid;
    border-width: 5px;
    border-color: #4E5247;
    border-radius: 12px;

    
}
.gumbKupon{
    background-color: greenyellow;
    color: red;
     width:40%; 
     height: 40px;
     margin-left: 2%;
     float:left;
     border-style: solid;
     vertical-align:text-top;
      border-width: 1px;
    border-color: #4E5247;
    border-radius: 2px;

    
}
.kosarica{
    
      border-style:solid;
    border-width: 2px;
    border-color: #47C445;
    border-radius: 10px;
    text-align: center;
    
}
.glavniDio{
    position:initial;
    width: 80%;
    margin-left: 0.5%;
    margin-bottom: 0.5%;

    background-color: #F5FFDC;
    
    
 text-align: center;
    
    
  float: left;
    
}
.desnoOglasi{
   
   float: left;
    width: 18%;
    margin-left: 0.5%;
    margin-bottom: 0.5%;
    background-color: #F5FFDC;
    
    
  border-style:solid;
    border-width: 2px;
    border-color: #4E5247;
    border-radius: 10px;
    text-align: center;
    
    

    
}



.section{
    width: 99.3%;
        background-color: #EFFFC7;
    
       
  border-style:solid;
    border-width: 5px;
    border-color: #4E5247;
    border-radius: 12px;
    
    
float: left;
    
  
}


section{
    background-color: #EFFFC7;
    
       
  border-style:solid;
    border-width: 5px;
    border-color: #4E5247;
    border-radius: 12px;
}
.text-centar{
    text-align: center;
    
    
}
.white{
    color: white;
    
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    /*height: 400px;**/
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.karticaPodrucja{
   background-color: #C6CCB6;


    border-style:solid;
    border-width: 5px;
    border-color: #4E5247;
    border-radius: 12px;

    margin:0.5%;
float: left;


    width: 23.269%;


}
.slikaKarticePodrucja{
    width:95%; 
    height:150px;
    border-style:solid;
    border-width: 5px;
    border-color: black;
   /* border-radius: 12px;*/
    
}
.nazivPodrucjaInteresa{
    background-color: white;
    color:#777F63;
    font-size: 18pt; /*velicina */
    font-weight: bold;
    text-align: center;
    
}

.naslov{
    background-color: #C6CCB6;
    color:#777F63;
    font-size: 25pt; /*velicina */
    font-weight: bold;
    text-align: center;

}



/* tablica proizvoda*/
table.tablica1
{
    margin-left: 25%;
 border-bottom:  3px solid  blue;
     border-left:  3px solid  blue;
     border-right:  3px solid  blue;
    
         
}
caption.tablica1
{
    color: mediumblue;
    background-color: #7CAD72;
    padding: 5px;
  border: 3px solid  blue;
  border-bottom: 3px  double blue;
  
}

tr.tablica1_zaglavlje{
    color:  darkgreen;
    border-bottom:    3px solid  blue;
    font-weight: bold;
    
}
tr.tablica1_redak1
{background-color: lightskyblue;
    color: darkgreen;
    
}
tr.tablica1_redak1:hover
{
    color: black;
    background-color: #FFFE66;
}
tr.tablica1_redak2
{
    background-color:#ffcccc;
    color: darkgreen;
     
}
tr.tablica1_redak2:hover
{
    color: black;
    background-color: #FFFE66;
}

tr.tablica1_redak1,  tr.tablica1_redak2 
{
    text-align: center;
}
tr{
    
    border: 1px solid  blue;
}
th,td {
 
    border: 2px solid darkgreen;
}

.footer_left{
     width:33.3%;
     float:left;
     text-align: center;
   
    
}
footer{
    clear:both;
    background-color: #DBFF7C;
}

.vrijeme_izrade{
    margin-top: 20%;
    vertical-align: middle;
    border-style:solid;
    border-width: 3px;
    border-color: black;
    background-color:#00ffff;
    font-size: 18pt;
    border-style: outset;
    border-radius: 12px;
}
.gumbKupi:hover{
    margin-bottom: 3px;
    height: 40px;
    background-color:#6C7F3E;
    border-color:#407F45;
    border-style: outset;
    border-radius: 12px;
    
}
.gumbKupi{
    margin-bottom: 3px;
    height: 40px;
    background-color:#73AD21;
    border-color:#407F45;
    border-style: outset;
    border-radius: 12px;
    
}
.galerijaKupon{
    
   margin: 5px;
  
   float: left;
   width: 60%;
   margin-left: 20%;
   padding: 5px;
}


.galerija{
    
   margin: 5px;
  
   float: left;
   width: 75%;
   padding: 5px;
}

.kupon{
    
    
    width:21%;
    padding: 5px;
    margin: 5px;
    float: left;

}
.kupon:hover{
    background: #C4CCB0;
    width:21%;
    padding: 5px;
    margin: 5px;
    float: left;
}
.gumbKupnjaKupona{
    
    
  width:45%; margin-left: 3%;float:left;
  height:60px;
  
}



 nav {
    width:100%;
    border-style:solid;
    border-width: 3px;
    float: left;
}

nav > ul{
       
    border-width: 10px;
    border-color: black;
    list-style: none;
}
nav >ul > li {
    width:119%;
    height:20px;

    display: block;
    
    text-transform: uppercase;
    text-align: center;
    margin-left: -19%;
  
   
  
    
    

    
    display: block;
    
    
   
     
    
    
    
    border-color: #96AD97;
    
}
nav >ul li:hover{
    
    background-color: #C4CCB0;
}


@media only screen and (max-width:1024px)
{
    .naslov{
        background-color: #C6CCB6;
        color:#777F63;
        font-size: 20px; /*velicina */
        font-weight: bold;
        text-align: center;}

}


@media only screen and (max-width:480px) 
{ 
    .naslov{
        background-color: #C6CCB6;
        color:#777F63;
        font-size: 20px; /*velicina */
        font-weight: bold;
        text-align: center;

    }}

@media only screen and (max-width:1024px) and (min-width:480px){



}