/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 14, 2017, 8:26:36 AM
    Author     : grupa_1
*/   


/* Popup container - can be anything you want */
/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


.greske {
    
    background: red;
    color: white;
    
    
}


.obavjestRefresh {
    
    background: red;
    color: white;
    
    
    
}

.greske1 {
    
  display:none;
    color: white;
    
    
}
.ispravno{
      background: greenyellow;
    color: black;
    
}

#greske{
    display:none;
         position: relative;
    left:0px;
    width:50%;
    margin:2%;
    background-color: #FFAC9A;
    border: 5px;
     border: 3px solid #D21500;
     border-radius: 5px;
     padding:10px;
    
}
/* eksplicitno */




.preklapanje{

    float:left;
}
.slika_proizvoda{

    max-width: 30%;
    box-shadow: 10px 10px 5px #888888;
}
.slika_preko_slike{
    height: 400px;
    width: 400px;



}


/* registracija*/


.forma{
    position:relative;
    left:0px;
    width:50%;
    margin-left: 5px;
    margin-bottom: 2%;
    background-color: #C6CCB6;
    border: 5px;
     border: 3px solid #73AD21;
    
    
}



.forma_unos_proiz{
       position: relative;
    left:0px;
    width:95%;
    margin:2%;
    background-color: #C6CCB6;
    border: 5px;
     border: 3px solid #73AD21;
    
    
    
}
label{
      color: black;
   font-size: 20px;
    font-family: "times"; /*obitelj*/
    float:left;
    width:50%; 
    margin-left: 10px;
    margin-top: 10px;
    
}
input{
    border: 3px solid #73AD21;
    height:20px;
   width:40%;
   margin-top: 10px;


}
.pozivni{
    border: 3px solid #73AD21;
    height:20px;
   width:40%;
   margin-top: 10px;


}
#prijava{
    
    display: none;
}

.gumb{
    
     color: blue;
    font-size: 20px;
   
   position: relative;
   left:25%;
   margin-top: 10px;
    margin-bottom: 10px;
    width:50%;
    height:40px;
     border: 3px solid #73AD21;
    
}

.gumbRef{
    
     
    font-size: 40px;
   
   position: relative;
   left:25%;
   margin-top: 10px;
    margin-bottom: 10px;
    width:50%;
    height:40px;
     border: 5px solid #73AD21;
     font-weight: bold;
     letter-spacing: 3px;
     
     color:green;
     border-color:red;
     height:100px;
     
    
}

.opis_area{
    
      position: relative;
   left:18%;
   margin-top: 10px;
    margin-bottom: 10px;
    width:73%;
     border: 3px solid #73AD21;
}



.reg{
    position: relative;
    left: 0px;
    top:0;
    height: 30px;
    
    color: blue;
    font-size: 20px;
    font-family: "times"; /*obitelj*/
  
    
   
    
}







.rad{
    margin-left: 0;
    
    
}





/* implicitno pomocu taga */
body{
    background-color: #F8FFE4;    /*slozeno*/
}







.nav_2{
   
    clear: both; margin-left:31.25%;

}
nav {
    width:100%;
  
    
    /*float: left;*/
}
nav>ul{
     
   
    list-style: none; 
    
   
  

}
nav >ul li a{
    width:13%;
    height:40px;
    float: left;
    display: block;
    background: #B0CCB2;
    text-transform: uppercase;
    text-align: center;
     
    
    border-style:solid;
    border-width: 3px;
    border-color: #96AD97;
    padding: 10px 20px;
}
nav >ul li a:hover{
    color:darkcyan;
    background-color: #C4CCB0;
}








section{
    background-color: #C7FFCB;
    
       
  border-style:solid;
    border-width: 5px;
    border-color: #407F45;
    border-radius: 12px;
}


#omiljeni_proizvodi {
    margin:2%;
    margin-top: 0px;
    width:96%;
    
    float:left;
   
 
}

.asocijativna {
    width:40%;
    margin-left:30%;
    border-style:solid;
    border-width: 5px;
    border-color: #407F45;
    border-radius: 12px;
    
        
            
    
    
     border-style:solid;
    border-width: 3px;
    border-color: black;
    background-color:#8DFFA2;
    
    
    


    
}
.naziv_polja{
     
    margin-left: 10px;
   
      background-color: #C6CCB6;
    color:#4E5247;
   
    font-weight: bold;
    
}

footer{
    clear:both;
    background-color: #DBFF7C;
}

.popis_proizvoda{
    text-align: center;
    margin-left: 5%;
    width: 90%;
    margin-bottom: 2%;
    
}

/* tablica proizvoda*/
table.tablica1
{
 border-bottom:  3px solid  blue;
     border-left:  3px solid  blue;
     border-right:  3px solid  blue;
    
         
}
caption.tablica1
{
    color: mediumblue;
    background-color: #7CAD72;
    padding: 5px;
  border: 3px solid  blue;
  border-bottom: 3px  double blue;
  
}

tr.tablica1_zaglavlje{
    color:  darkgreen;
    border-bottom:    3px solid  blue;
    font-weight: bold;
    
}
tr.tablica1_redak1
{background-color: lightskyblue;
    color: darkgreen;
    
}
tr.tablica1_redak1:hover
{
    color: black;
    background-color: #FFFE66;
}
tr.tablica1_redak2
{
    background-color:#ffcccc;
    color: darkgreen;
     
}
tr.tablica1_redak2:hover
{
    color: black;
    background-color: #FFFE66;
}

tr.tablica1_redak1,  tr.tablica1_redak2 
{
    text-align: center;
}
tr{
    
    border: 1px solid  blue;
}
th,td {
 
    border: 2px solid darkgreen;
}




.footer_left{
     width:33.3%;
     float:left;
     text-align: center;
   
    
}

.vrijeme_izrade{
    margin-top: 20%;
    vertical-align: middle;
    border-style:solid;
    border-width: 3px;
    border-color: black;
    background-color:#00ffff;
    font-size: 18pt;
    border-style: outset;
    border-radius: 12px;
}

.naslov_header{
   vertical-align: middle;
   text-align: center;
    border-style:solid;
    border-width: 3px;
    border-color: black;
    background-color:#00ffff;
    font-size: 18pt;
    border-style: outset;
    border-radius: 12px;
    width: 30%;
    margin-left: 35%;
    margin-top: 20px;
    
}


 .naslov{
    background-color: #C6CCB6;
    color:#777F63;
    font-size: 20pt; /*velicina */
    font-weight: bold;
    text-align: center;

}


.podaci{
    
    border-left: 6px solid #407F45;
    background-color: lightgrey;
   
    width:40%;
    float:left;
}

.profilna{
    float: left;
    width: 20%;
}

.opis_proizvoda{

 text-align: justify;
 padding-left: 10px;
 padding-right: 10px;
    
    
    
}


@media only screen and (max-width:1024px) and (min-width:480px){
     .s480 td+td+td+td+td+td{
        
        display: none;
    }
    
      .sh480 th+th+th+th+th+th {
        
        display: none;
    }
    
      body{
        
       font-family: "Times New Roman", Georgia, Serif;
       font-size: 11px;
    }
    
    .omiljeni_proizvod{
    margin-top: 0.5%;
    margin-bottom: 0.5%;
     border-style:solid;
    border-width: 3px;
    border-color: black;
    background-color:#8DFFA2;
    width:50%;
    margin-left: 25%;
    border-radius: 9px;

}
    
}

@media only screen and (max-width:130px)
{
    /*responzivna tablica*/
    
        .s480 td+td+td+td{
        
        display: none;
    }
    
      .sh480 th+th+th+th {
        
        display: none;
    }
}
@media only screen and (min-width:1024px){
    .greska_usklicnik{
      
       visibility: hidden;
        
        height:15pt;
    }
    
      body{
        
       font-family:cursive;
       font-size: 12pt;
    }
    
      .slika_preko_slike:hover{

        z-index: 2;
    } 


    #slika1{
        position:absolute; 
        margin-left:0px; 

    }
    #slika2{
        position:absolute; 
        margin-left:20%; 

    }



    #slika3{
        position:relative; 
        margin-left:40%; 

    }
    .galerija{
        
        width:60%;
        margin-left: 25%;
    }
    
    .omiljeni_proizvod{
    margin-top: 0.5%;
    margin-bottom: 0.5%;
     border-style:solid;
    border-width: 3px;
    border-color: black;
    background-color:#8DFFA2;
    width:50%;
    margin-left: 25%;
    border-radius: 9px;

}
    
}



@media only screen and (max-width:1024px)

{
     .naslov{
    background-color: #C6CCB6;
    color:#777F63;
    font-size: 20px; /*velicina */
    font-weight: bold;
    text-align: center;

}
        .greska_usklicnik{
       visibility: hidden;
        
        height:15pt;
    }
    
    
    
    
.nav_2{
   
  
     margin-left: 0%;
    

}

 nav {
    width:100%;
    /*float: left;*/
}
nav>ul{
       
    border-width: 3px;
    border-color: black;
    list-style: none;
}
nav >ul li a{
    width:100%;
    height:40px;
   
    display: block;
    
    text-transform: uppercase;
    text-align: center;
    
    border-style:solid;
    border-width: 3px;
   
    padding: 10px 20px;
    
    
    height:40px;
    
    display: block;
    background: #B0CCB2;
    
   
     
    
    
    
    border-color: #96AD97;
    
}
nav >ul li a:hover{
      color:darkcyan;
    background-color: #C4CCB0;
}


}

@media only screen and (max-width:480px) 
{ 
    .naslov{
    background-color: #C6CCB6;
    color:#777F63;
    font-size: 20px; /*velicina */
    font-weight: bold;
    text-align: center;

}
    .profilna{
        display: none;
    }
   
    
      #slika1{
       max-width: 95%; 

    }
    #slika2{
       max-width: 95%; 

    }



    #slika3{
        max-width: 95%; 

    }
    
    .asocijativna {
    width:90%;
    margin-left:5%;
    border-style:solid;
    border-width: 5px;
    border-color: #407F45;
    border-radius: 12px;
    
        
            
    
    
     border-style:solid;
    border-width: 3px;
    border-color: black;
    background-color:#8DFFA2;
    
    
    


    
}

    .greska_usklicnik{
       visibility: hidden;
        
        height:9pt;
    }
    
     body{
        
        font-family: "Arial";
        font-size: 8px;
    }
    
    .omiljeni_proizvod{
    margin-top: 0.5%;
    margin-bottom: 0.5%;
     border-style:solid;
    border-width: 3px;
    border-color: black;
    background-color:#8DFFA2;
    
    
    border-radius: 9px;

}
    
    .s480 td+td+td+td+td {
        
        display: none;
    }
    
      .sh480 th+th+th+th+th {
        
        display: none;
    }
    
   

}